.container{
    width: 500px;
    height: 200px;
    justify-content: center;
    text-align: center;
    background-color:blueviolet;
    padding: 40px;
    font-size: 40px;
}
.button{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}
.box{
    width: 90px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.box1{
    background-color: hotpink;
}
.box2{
    background-color: red;
}
.box3{
    background-color: green;
}